* {
}

.center {
    text-align: center;
}

.center-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 810px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*View all Products css*/

.probrand {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.proName {
    font-size: 13px;
    line-height: 17px;
    font-family: sans-serif;
}
/*Product View*/

.proNameView {
    font-size: 20px;
    line-height: 25px;
    font-family: sans-serif;
    color: #696e80;
}
.divDet1 {
    border-bottom: 1px dashed #ff6a00;
    margin-bottom: auto;
}

.h5size {
    font-weight: 600;
}

.input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}